*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: '__GGSANS', sans-serif;
  background-color: var(--background);
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentcolor;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
/* button, */
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

/* :target {
  scroll-margin-block: 5ex;
}

::-webkit-scrollbar {
  width: 4px;
} */

/* ::-webkit-scrollbar-track {
  background: rgb(223 221 221 / 30%);
} */

/* ::-webkit-scrollbar-thumb {
  background-color: var(--border-mess);
  border-radius: 300px;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(112 111 111 / 50%);
} */
