.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: flex;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  padding: 0 40px;
  color: white;
  background: linear-gradient(to bottom, #000000 0%, rgba(220, 9, 20, 0));
  transition: ease-in 0.5s;
}
.logoWrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  margin-right: 40px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'fontLogo';
  font-size: 28px;
  color: aquamarine;
  text-decoration: none;
  list-style: none;
}

.select {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .link {
    /* width: 1%; */
    color: aliceblue;
    list-style: none;
  }

  &Btn {
    width: 80px;
    padding: 8px 0;
    font-size: 16px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 7px;
    transition: all 0.2s;
  }
}

.list {
  position: absolute;
  top: -18px;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 130vh;
  padding: 0;
  overflow-y: scroll;
  scrollbar-color: black var(--color-black);
  scrollbar-width: thin;
  background: linear-gradient(
    180deg,
    #000000,
    rgba(0, 0, 0, 0.5) 70%,
    transparent
  );
  &Wrap {
    width: 100%;
    padding-top: 140px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    padding: 10px;
    margin: 3px 4px;
    color: aliceblue;
    background: transparent;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    /* border: 1px solid black; */
    border-radius: 5px;
    &:hover {
      color: yellow;
    }

    &.active {
      color: yellow;
    }
  }
}

.current {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: yellow;
  span {
    width: 100%;
  }
}
